.back {
  background: linear-gradient(to right, transparent 15%, rgba(10, 110, 115, 0.1) 35%, transparent 85%);
  height: 100vh;
  position: relative;
  padding-bottom: 30vh;
}

p {
  font-size: 1.2vh;
  text-decoration: underline;
}

.marcar {
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icone {
  text-align: center;
  transform: scale(60%);
}

.login {
  background: linear-gradient(to top, rgba(10, 110, 115, 0.3) 35%, rgba(10, 110, 115, 0.2) 85%);
  border: 1px black;
  border-radius: 50px 0 100px 0;
  min-width: 120%;
  margin-left: -10%;
}

.login-blur {
  -webkit-backdrop-filter: blur(500px);
  backdrop-filter: blur(500px);
}

.base {
  text-align: center;
}

@media (max-width: 1024px) and (max-height: 768px) {
  .back {
    width: 100%;
    height: 100%;
    padding-bottom: 30vh;
  }

  .login {
    min-width: 200%;
    margin-left: -50%;
  }
}

/* Em telas muito pequenas, os banners podem desaparecer para dar mais espaço ao conteúdo */
@media (max-height: 767px) {
  .back {
    width: 100%;
    height: 100%;
    padding-bottom: 30vh;
  }

  .login {
    min-width: 200%;
    margin-left: -50%;
  }
}

/* Em telas muito pequenas, os banners podem desaparecer para dar mais espaço ao conteúdo */
@media (max-width: 1023px) {
  .back {
    width: 100%;
    height: 100%;
    padding-bottom: 30vh;
  }

  .login {
    min-width: 200%;
    margin-left: -50%;
  }
}

/* Em telas pequenas, o conteúdo central ocupa mais espaço */
@media (max-width: 576px) {
  .back {
    width: 100%;
    height: 100%;
    padding-bottom: 30vh;
  }

  .marcar {
    max-width: 100%;
  }

  .login {
    min-width: 100%;
    margin-left: 0;
  }
}