<div class="back">

  <!-- Banner esquerdo -->
  <div class="banner-lateral-esquerda" style="left: 0;">
    <div>
      <div class="icone">
        <img src="../../../assets/exclamationP.png" alt="">
      </div>
      <h4 class="text-center pb-3"><u>AVISO</u></h4>
      <p>
        É vedada a entrada no refeitório com o uso de jalecos e scrubs.
        Os cabelos devem Estar devidamente presos durante a permanência no local.
      </p>
    </div>
  </div>

  <!-- Conteúdo Central -->
  <section class="marcar col-md-12">
    <div class="col-md-8">
      <h1 class="text-center mt-5 title">Insira as informações abaixo <br> para realizar o agendamento do almoço:</h1>
      <div class="col-md-6 offset-md-3">
        <div class="login mt-4 p-4 container border rounded border-dark login-blur">
          <form [formGroup]="formularioMarcacao" (ngSubmit)="salvarMarcacao()">
            <div class="form-row">

              <div class="mb-3 col-md-12">
                <label for="nome" class="form-label">
                  <b>Nome:</b>
                </label>
                <input type="text" class="form-control" id="nome" formControlName="nome">
                <div class="text-danger" *ngIf="isCampovalido('nome')">
                  Campo Obrigatório!
                </div>
              </div>

              <div class="mb-3 col-md-12">
                <label for="setor" class="form-label">
                  <b>Setor:</b>
                </label>
                <input type="text" class="form-control" id="setor" formControlName="setor">
                <div class="text-danger" *ngIf="isCampovalido('setor')">
                  Campo Obrigatório!
                </div>
              </div>

              <div class="mb-3 col-md-6">
                <label for="tipo" class="form-label">
                  <b>Função:</b>
                </label>
                <select class="custom-select mr-sm-2" id="tipo" formControlName="tipo">
                  <option value="Colaborador">Colaborador</option>
                  <option value="Residente">Residente</option>
                  <option value="Aluno">Aluno</option>
                  <option value="Aluno">Outros</option>
                </select>
                <div class="text-danger" *ngIf="isCampovalido('tipo')">
                  Campo Obrigatório!
                </div>
              </div>

              <div class="mb-3 col-md-6">
                <label for="ramal" class="form-label">
                  <b>Ramal:</b>
                </label>
                <input type="text" class="form-control" id="ramal" formControlName="ramal">
                <div class="text-danger" *ngIf="isCampovalido('ramal')">
                  Campo Obrigatório!
                </div>
              </div>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="termo" id="termo"
                formControlName="termo">
              <label class="form-check-label" for="termo">
                <i>Declaro que li e concordo com os termos e condições para agendar a refeição.</i>
              </label>
              <div class="text-danger" *ngIf="isCampovalido('termo')">
                Campo Obrigatório!
              </div>
            </div>
            <div class="pt-3 text-center">
              <button class="btn btn-success btn-lg" type="submit" [disabled]="formularioMarcacao.invalid">
                AGENDAR
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="base text-center pt-2">
        <h5>
          <b><u>Horário para agendamento do almoço: 06:00h às 09:30h.</u></b>
        </h5>
      </div>

    </div>
  </section>

  <!-- Banner direito -->
  <div class="banner-lateral-direita" style="right: 0;">
    <div>
      <div class="icone">
        <img src="../../../assets/exclamationP.png" alt="">
      </div>
      <h4 class="text-center pb-3"><u>AVISO</u></h4>
      <p>
        É indispensável a apresentação do ticket no momento da entrada no refeitório, o mesmo deve ser entregue para o
        responsável da nutrição no momento da chegada.
      </p>
    </div>
  </div>

</div>