.cabecalho {
  margin-top: 0;
  padding-top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: white;
  clip-path: polygon(100% 0, 100% 100%, 89% 83%, 75% 75%, 58% 69%, 42% 69%, 25% 75%, 11% 83%, 0 100%, 0 0);
}

a.active {
  font-weight: bold;
}


.btn-arredondamento {
  border-radius: 20px;
}