.cabecalho {
  margin-top: 0;
  padding-top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0);
}

a.active {
  font-weight: bold;
}


.btn-arredondamento{
  border-radius: 20px;
}

