<div class="back">
  <section class="border-bottom border-top border-dark col-md-12">
    <div class="pt-5 text-center py-2 col-md-12">
      <h1 class="py-3 text-capitalize">
        Sistema para agendamento de refeição
      </h1>
      <p class="py-2 lead text-center text-capitalize">
        Bem-vindo ao Sistema de gerenciamento
        de agendamento de refeição!
      </p>
      <div class="py-4 pb-2">
        <button class="btn btn-success btn-lg" [routerLink]="'/marcar'">Ir para Agendamento</button>
      </div>
      <p class="mt-5 lead text-center text-capitalize">
        <u>Horario para agendamento de almoço 06:00h ás 09:30h.</u>
      </p>
    </div>
  </section>

  <section class="border-bottom border-top border-dark col-md-12">
    <div class="py-5 col-md-12 row justify-content-center text-center">

      <h1 class="pb-5 pt-1 title col-md-12"><i>Cardapio da semana</i></h1>

      <div *ngFor="let m of cardapioSemana; let i = index">

        <div class="m-2">
          <div class="card border-info" style="width: 12rem; box-shadow: yellowgreen 2px 2px;">
            <div class="card-header">
              <h5><i><u>{{ m.dia }}</u></i></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ m.carboidrato }}</li>
              <li class="list-group-item">{{ m.proteina }}</li>
              <li class="list-group-item">{{ m.complemento }}</li>
              <li class="list-group-item">{{ m.salada }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
