

.back {
  background: linear-gradient(to top, rgba(10,110,115,0.6) 35%, rgba(10,110,115,0.2) 85%);

  font-family: "Times New Roman", Times, serif;
}

ul > li {
  align-content: center;
  min-height: 4em;
  max-height: 4em;
  font-size: 1em;
}
