.back {
  background: linear-gradient(to top, rgba(100,149,237,0.6) 35%, rgba(100,149,237,0.2) 85%);
  height: 100%;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

ul > li {
  align-content: center;
  min-height: 4em;
  max-height: 4em;
  font-size: 1em;
}
