<footer class="text-center" style="font-size: 0.8em; height: 10px;">
  <div class="bg-secondary text-white">
    <p>
      Desenvolvido por Alexandre da silva Milani
      <br>
      E-mail: alexandre.milani&#64;acad.ufsm.br &copy;2025
    </p>
    <div class="text-white"> Icons made by <a class="text-dark" href="https://www.flaticon.com/authors/freepik"
        title="Freepik"> Freepik </a> from <a class="text-dark" href="https://www.flaticon.com/"
        title="Flaticon">www.flaticon.com</a></div>
  </div>
</footer>